<head>
  <link rel="stylesheet" href="./index.css" />
</head>

<h1>Mini Message Board</h1>
<a href="/new" id="mainlink">New message</a>
<ol>
  <% messages_all.forEach(function(ele,index){%>
  <li>
    <div>
      <p>Message: <%=ele.msg%></p>
      <p>Name: <%=ele.name%></p>
      <p>Date: <%=ele.dateof%></p>
    </div>
    <a href="/message/<%=index+1%>">OPEN</a>
  </li>
  <br />

  <% })%>
</ol>
